{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {{ super() }}
        <title>Document</title>
    {% endblock %}
</head>
<body>
{% block content -%}
    {#    {{ ckeditor.load() }}#}
    {{ super() }}
    {% if current_user.is_authenticated %}
        {% for msg in get_flashed_messages() %}
            <div class="flash">{{ msg }}</div>
        {% endfor %}
        <form action="{{ url_for("post.add_post") }}" method="post" enctype=multipart/form-data class="form-contact">
            <p>{{ form.hidden_tag() }}</p>
            <p>{{ form.post_pic.label() }} {{ form.post_pic() }}</p>
            <span class="validation_error">{{ ', '.join(form.post_pic.errors) }}</span><br>
            <p>{{ form.category.label() }} {{ form.category() }}</p>
            <p>{{ form.title.label() }} {{ form.title() }}</p>
            <p>{{ form.body.label() }} {{ form.body() }}</p>
            <p>{{ form.submit() }}
                {{ ckeditor.load() }}
                {{ ckeditor.config(name="body") }}
        </form>

    {% endif %}
{% endblock %}
</body>
</html>