{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {{ super() }}
        <title>Document</title>
    {% endblock %}
</head>
<body>
{% block content -%}
    {#    {{ ckeditor.load() }}#}
    {{ super() }}
    {% if current_user.is_authenticated %}
        {% for msg in get_flashed_messages() %}
            <div class="flash">{{ msg }}</div>
        {% endfor %}
        <form class="formo" action="{{ url_for("post.add_post") }}" method="post">
            {{ form.hidden_tag() }}
            <p>{{ form.title.label() }} {{ form.title() }}</p>
            <p>{{ form.body.label() }} {{ form.body() }}</p>
            <p>{{ form.submit() }}
                {{ ckeditor.load() }}
                {{ ckeditor.config(name="body") }}
        </form>

    {% endif %}
{% endblock %}
</body>
</html>