{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {{ super() }}
        <title>Document</title>
    {% endblock %}
</head>
<body>
{% block content -%}
    {{ ckeditor.load() }}
    {{ super() }}
    {% if current_user.is_authenticated %}
        <form class="formo" action="{{ url_for("post.add_post") }}" method="post">
            {{ form.hidden_tag() }}
            <p>{{ form.header.label() }} {{ form.header() }}</p>
            <p>{{ form.body.label() }} {{ form.body() }}</p>
            <p>{{ form.submit() }}
        </form>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name="body") }}
    {% endif %}
{% endblock %}
</body>
</html>