{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {{ super() }}
    <title>Document</title>
    {% endblock %}
</head>
<body>
{% block content -%}
    {{ super() }}
    <h1>Авторизация</h1>
    {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash{{ cat }}">{{ msg }}</div>
    {% endfor %}
    <form action="/login" method="post" class="form-contact">
        <p><label>E-mail</label> <input type="text" name="email" value="" required/>
        <p><label>Password</label> <input type="text" name="psw" value="" required/>
        <p><input type="checkbox" name="remainme"/> Запомнить меня
        <p><input type="submit" value="Войти"/>
        <p><a href="{{ url_for('registration') }}">Регистрация</a></p>
    </form>
{% endblock %}
</body>
</html>