<!DOCTYPE html>
<html lang="en">
<head>
    {% block head -%}
        {% if title %}
        <title>Блог номер 1 - {{ title }}</title>
        {% else %}
        <title>лог номер 1</title>
        {% endif %}
    {% endblock %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
    <div class="container">
        
        {% block content %}
        <ul>
        {% for m in menu %}
            <li>
                {{ m }}
            </li>
    
        {% endfor %}
        </ul>
        {% endblock %}
    </div>
</body>
</html>