{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
{% block content %}
    {{ super() }}
    {#    {{ ckeditor.load() }}#}
    {#    <a href="/">На главную</a>#}
    {#    {% if post %}#}
    {#        {{ post }}#}
    {#    {% endif %}#}

    <form class="formo" action="{{ url_for('post.change_post', id=post.id) }}" method="post">
        <div class="mb-3">
            {#            <input  hidden name="id" value="{{ post.id }}" />#}
            {{ form.hidden_tag() }}
            <p>{{ form.title.label() }} {{ form.title() }}</p>
            <p>{{ form.body.label() }} {{ form.body() }}</p>
            <p>{{ form.submit(class="btn btn-success") }}</p>
            {{ ckeditor.load() }}
            {{ ckeditor.config(name="body") }}
        </div>
    </form>


    {#            <label for="exampleFormControlInput1" class="form-label">Email address</label>#}
    {#            <input type="text" name="title" value="{{ post.title }}" class="form-control" id="exampleFormControlInput1"#}
    {#                placeholder="name@example.com">#}
    {#        </div>#}
    {#        <div class="mb-3">#}
    {#            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>#}
    {#            <textarea class="form-control" name="body"  id="exampleFormControlTextarea1" rows="3">{{ post.body }}</textarea>#}
    {#        </div>#}
    {#        <button class="btn btn-success" type="submit">#}
    {#    Изменить#}
    {#    </button>#}
{% endblock %}
</body>

</html>