{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
        {{ super() }}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% endblock %}
</head>

<body>
{% block content %}
    {{ super() }}



    <div class="d-flex align-items-center flex-column mb-3">
        {% if current_user.is_authenticated %}
            <h1>Hello {{ current_user.name }}!</h1>
        {% else %}
            <h1>Нет</h1>
        {% endif %}

    </div>

    {% if total>0 %}
        <h5 class="posts_count">Количество постов: {{ total }}</h5>
    {% else %}
        <h5 class="no_posts">Здесь нет постов</h5>
    {% endif %}
    {% if current_user.is_authenticated %}
        <a href="{{ url_for("post.add_post") }}" class="btn btn-primary">Создать пост</a>
    {% endif %}

    <form action="{{ url_for("index") }}" method="get">
        {#      {% if current_user.is_authenticated %}#}
        {#        <label>#}
        {#            Свои посты#}
        {#            <input name="myposts" type="checkbox"#}
        {#                    {% if request.args.get('myposts') %}#}
        {#                   checked=""#}
        {#                    {% endif %}#}
        {#            >#}
        {#        </label>#}
        {#        <button type="submit">Показать</button>#}
        {#    {% endif %}#}
        <br></br>
        <div class="d-flex align-items-center">
            <p class="me-2">
                {{ form.selection.label() }} {{ form.selection(class_="dropdown-my") }}
            </p>
            <p class="me-2">{{ form.my_post.label() }} {{ form.my_post() }}</p>
            <p class="me-2">{{ form.submit(class_="btn btn-primary") }}</p>
        </div>
    </form>
    {{ pagination.info }}
    {{ pagination.links }}
    <div class="d-flex flex-wrap justify-content-center">
        {% for post in paginated %}
            {% with post=post %}
                {% include "one-post.html" %}
            {% endwith %}
        {% endfor %}
    </div>
    {{ pagination.links }}
{% endblock %}
</body>

</html>


