{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
        {{ super() }}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% endblock %}
</head>

<body>
{% block content %}
    {{ super() }}



    <div class="d-flex align-items-center flex-column mb-3">
        {% if current_user.is_authenticated %}
            <h1>Hello {{ current_user.name }}!</h1>
        {% else %}
            <h1>Нет</h1>
        {% endif %}

    </div>

    {% if total>0 %}
        <h5 class="posts_count">Количество постов: {{ total }}</h5>
    {% else %}
        <h5 class="no_posts">Здесь нет постов</h5>
    {% endif %}
    {% if current_user.is_authenticated %}
        <a href="{{ url_for("post.add_post") }}" class="btn btn-primary">Создать пост</a>
    {% endif %}
    {{ pagination.info }}
    {{ pagination.links }}
    <form action="{{ url_for("index") }}" method="get">
        <label>
            Свои посты
            <input name="myposts" type="checkbox"
                    {% if request.args.get('myposts') %}
                    checked=""
                    {% endif %}
            >

        </label>
        <button type="submit">Показать</button>
    </form>
    <div class="d-flex flex-wrap justify-content-center">
        {% for post in paginated %}
            <div class="card">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title">Заголовок: {{ post.title }}</h5>
                    <p class="card-text">{{ post.body[:100]|deletescript|safe }}</p>
                    <p class="card-text">Автор: {{ post.user.name }}</p>
                    <p class="card-text">Дата создания: {{ post.date_created|formatdatetime }}</p>
                    {% if post.date_modified %}
                        <p class="card-text">Изменено: {{ post.date_modified|timedif }}</p>
                    {% endif %}
                    <div class="buttons">
                        <a href="{{ url_for('post.show_post', id=post.id) }}" class="btn btn-success">Go somewhere</a>
                        {% if current_user.is_authenticated and current_user.id==post.user.id %}
                            <a href="{{ url_for('post.delete_post', id=post.id) }}" class="btn btn-danger">Delete</a>
                            <a href="{{ url_for('post.change_post', id=post.id) }}" class="btn btn-warning">Modify</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
    {{ pagination.links }}
{% endblock %}
</body>

</html>


