{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {{ super() }}
        <title>Document</title>
    {% endblock %}
</head>
<body>
{% block content -%}
    {{ super() }}
    <h1>Registration</h1>
    {% for msg in get_flashed_messages() %}
        <div class="flash">{{ msg }}</div>
    {% endfor %}
    <form action="{{ url_for('auth.register') }}" method="post" class="form-contact">

        <p>{{ form.hidden_tag() }}
        <p>{{ form.name.label() }} {{ form.name() }}
        <p>{{ form.email.label() }} {{ form.email() }}
        <p>{{ form.password.label() }} {{ form.password() }}
        <p>{{ form.passwordrpt.label() }} {{ form.passwordrpt() }}

        <p>{{ form.submit() }}
        <p><a href="{{ url_for('index') }}">На главную</a></p>
    </form>
{% endblock %}
</body>
</html>