.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.formo {
    width: 800px
}
ul {
    list-style-type: none;
}
.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}

.page-item.active .page-link {
    background: red;
    border: solid 1px red;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.posts_count {
    text-align: center;
}

.card {
    width: 400px;
    margin: 10px;
}

.navbar-item {
    margin: 10px;
}